<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../dist/bootstrap/bootstrap.min.css"
    th:href="@{/dist/bootstrap/bootstrap.min.css}">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>Constellation</th>
            <th>Nom</th>
            <th>Distance</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="n:${nebulars}">
            <td th:text="${n.constellation}"></td>
            <td th:text="${n.name}"></td>
            <td th:text="${n.distance}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>